[Desktop Entry]
Name=Chronomancer
Comment=An applet for creating and managing system timers
Type=Application
Icon=io.vulpapps.Chronomancer
Exec=chronomancer %F
Terminal=false
StartupNotify=true
Categories=Utility;
Keywords=Timer;Reminder;Countdown;Systemd;Sleep;COSMIC;
MimeType=
NoDisplay=false
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
